/* Title:  A few custom fixes to Tufte HTML styles */
/* Author: BACOU, Melanie                          */
/* Date:   2017.04.04                              */

body {
  font-size: 15px;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}

.marginnote {
   word-wrap: break-word;
 }

pre {
  width: auto;
  word-wrap: break-word;
}

.math {
  font-size: 13px;
}

.table-condensed {
  font-size: 14px;
}

.table-condensed caption {
  font-size: 15px;
}

.caption {
  color: #777;
}

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 1px;
}

.table-condensed td em {
  color: #777;
}

.references p {
  text-indent: -2em;
  margin-left: 2em;

}

/*
div.rhandsontable {
  max-width: 90%;
}
*/
